services:
  mysql:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: users
      MYSQL_ROOT_PASSWORD: polo09
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-ppolo09"]
      interval: 5s
      timeout: 3s
      retries: 20

  mongodb:
    image: mongo:8.0
    container_name: mongodb
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db

  demo:
    build: ./demo
    depends_on:
      mysql:
        condition: service_healthy
      mongodb:
        condition: service_started
    environment:
      MYSQL_SERVICE_HOST: mysql
      MYSQL_SERVICE_PORT: 3306
      MYSQL_SERVICE_DATABASE: users
      MYSQL_SERVICE_USER: root
      MYSQL_SERVICE_PASSWORD: polo09
      MONGO_HOST: mongodb
      MONGO_PORT: 27017
      MONGO_DB: demo
    ports:
      - "8080:8080"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - frontend_node_modules:/app/node_modules
    environment:
      CHOKIDAR_USEPOLLING: "true"
    depends_on:
      - demo

volumes:
  mysql_data:
  mongo_data:
  frontend_node_modules:
