apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: gem-local

resources:
  - namespace.yaml
  - ../../base

images:
  - name: gem_website-backend
    newTag: prod
  - name: gem_website-frontend
    newTag: prod

patches:
  - target:
      kind: Deployment
      name: backend
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
  - target:
      kind: Deployment
      name: frontend
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
